In [ ]:
#5.1
import sqlite3

try:
    # Kết nối đến cơ sở dữ liệu (tự tạo nếu chưa có)
    ket_noi = sqlite3.connect('bai_tap.db')
    con_tro = ket_noi.cursor()
    
    # Truy vấn phiên bản
    con_tro.execute("SELECT sqlite_version();")
    phien_ban = con_tro.fetchone()
    print(f"Phiên bản SQLite hiện tại là: {phien_ban[0]}")
    
    con_tro.close()
except sqlite3.Error as loi:
    print(f"Lỗi: {loi}")
finally:
    if ket_noi:
        ket_noi.close()

In [ ]:
#Bai 5.2 
import sqlite3

# Kết nối database nằm trên bộ nhớ tạm thời (RAM)
ket_noi_ram = sqlite3.connect(':memory:')
print("Đã tạo kết nối cơ sở dữ liệu trong bộ nhớ thành công.")
ket_noi_ram.close()

In [ ]:
#Bai 5.3 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

# Tạo một bảng đơn giản tên là 'SinhVien'
lenh_tao_bang = """
CREATE TABLE IF NOT EXISTS SinhVien (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    lop TEXT
);
"""
con_tro.execute(lenh_tao_bang)
print("Đã tạo bảng thành công.")

ket_noi.commit()
ket_noi.close()

In [ ]:
#Bai 5.4 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

# Truy vấn danh sách các bảng trong database
con_tro.execute("SELECT name FROM sqlite_master WHERE type='table';")
danh_sach_bang = con_tro.fetchall()

print("Các bảng có trong CSDL:")
for bang in danh_sach_bang:
    print(f"- {bang[0]}")

ket_noi.close()

In [ ]:
#Bai 5.5 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

# Truy vấn danh sách các bảng trong database
con_tro.execute("SELECT name FROM sqlite_master WHERE type='table';")
danh_sach_bang = con_tro.fetchall()

print("Các bảng có trong CSDL:")
for bang in danh_sach_bang:
    print(f"- {bang[0]}")

ket_noi.close()

In [ ]:
#Bai 5.6 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

con_tro.execute("SELECT COUNT(*) FROM SinhVien")
so_luong = con_tro.fetchone()[0]
print(f"Số lượng bản ghi trong bảng là: {so_luong}")

ket_noi.close()

In [ ]:
#Bai 5.7 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

# Cập nhật tên lớp cho tất cả sinh viên
con_tro.execute("UPDATE SinhVien SET lop = 'Lop_Moi'")
ket_noi.commit()
print(f"Đã cập nhật {con_tro.rowcount} hàng.")

ket_noi.close()

In [ ]:
#Bai 5.8 
import sqlite3

ket_noi = sqlite3.connect('bai_tap.db')
con_tro = ket_noi.cursor()

# Xóa sinh viên có id = 1
id_can_xoa = 1
con_tro.execute("DELETE FROM SinhVien WHERE id = ?", (id_can_xoa,))
ket_noi.commit()
print(f"Đã xóa bản ghi có id = {id_can_xoa}")

ket_noi.close()

In [ ]:
#Bai 5.9 
import pandas as pd

# Giả sử bạn đã tạo file region.csv với nội dung như ảnh
khung_vung = pd.read_csv('region.csv')
print("Nội dung file region.csv:")
print(khung_vung)

In [ ]:
#Bai 5.10 
import sqlite3

def quan_ly_san_pham():
    ket_noi = sqlite3.connect('product.db')
    con_tro = ket_noi.cursor()
    
    # Tạo bảng
    con_tro.execute("""
    CREATE TABLE IF NOT EXISTS product (
        Id INTEGER PRIMARY KEY,
        Name TEXT NOT NULL,
        Price REAL NOT NULL,
        Amount INTEGER NOT NULL
    )""")
    
    # 1. Thêm sản phẩm (ví dụ)
    # con_tro.execute("INSERT INTO product VALUES (1, 'Laptop', 1500.0, 10)")
    
    # 2. Hiển thị danh sách
    con_tro.execute("SELECT * FROM product")
    print("Danh sách sản phẩm:", con_tro.fetchall())
    
    # 3. Tìm kiếm theo tên
    ten_tim = 'Laptop'
    con_tro.execute("SELECT * FROM product WHERE Name LIKE ?", (f'%{ten_tim}%',))
    
    # 4. Cập nhật đơn giá và số lượng theo Id
    con_tro.execute("UPDATE product SET Price = 1600.0, Amount = 8 WHERE Id = 1")
    
    # 5. Xóa sản phẩm theo Id
    con_tro.execute("DELETE FROM product WHERE Id = 1")
    
    ket_noi.commit()
    ket_noi.close()

quan_ly_san_pham()

In [ ]:
#Bai 5.11 
import sqlite3

ket_noi = sqlite3.connect('qly_nhan_vien.db')
con_tro = ket_noi.cursor()

# Tạo bảng PHONG
con_tro.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Price REAL NOT NULL,
    Amount INTEGER NOT NULL
)""") # Lưu ý: Cấu trúc bảng trong ảnh 5.11 hơi lạ (giống bảng sản phẩm), mình viết theo đúng ảnh bạn gửi

# Tạo bảng NHAN_VIEN có khóa ngoại
con_tro.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)""")

print("Đã tạo cấu trúc quản lý nhân viên thành công.")
ket_noi.close()